{% extends 'base.html' %}
{% block content %}
<div class="content p-5">
    <h3 class="text-primary">New Post</h3>
    {% if massages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <label for="">{{ field.label }}</label>
            {{ field }}
            <p>{{ field.errors }}</p>
        {% endfor %}
    <button type="submit" class="btn btn-primary">Confirm</button>
    </form>
</div>
{% endblock %}